USE [master]
GO
/****** Object:  Database [TodoDB]    Script Date: 5/13/2026 8:44:08 AM ******/
CREATE DATABASE [TodoDB]

GO
USE [TodoDB]
GO
/****** Object:  Table [dbo].[Todos]    Script Date: 5/13/2026 8:44:09 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Todos](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Title] [nvarchar](50) NULL,
	[IsCompleted] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Todos] ADD  DEFAULT ((0)) FOR [IsCompleted]
GO
USE [master]
GO
